<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>Safehaven</title>
  <style>body {
  background-color: #f5f3e9;
  opacity: 0.8;
  background-image:  radial-gradient(#313bff 0.65px, transparent 0.65px), radial-gradient(#313bff 0.65px, #f5f3e9 0.65px);
  background-size: 26px 26px;
  background-position: 0 0,13px 13px;
  color: #040933;
  font-family: 'Ubuntu', sans-serif;
  text-align: center;
}</style>
  <link href="style.css" rel="stylesheet" type="text/css" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@400&amp;display=swap" rel="stylesheet">
</head>

<body>
  <h1>Safehaven</h1>
  <p>Find the nearest refugee camp in Sudan near you.</p>
  <form method="POST" action="/coords">
    <label for="lat">Latitude: </label><input name="lat" id="lat"><br>
    <label for="long">Longitude: </label><input name="long" id="long"><br>
    <input type="submit">
  </form>
</body>

</html>